@import "../base/variables";

.wrap {
  @include wrap;
  padding: 2% 0;
  height: auto;

  .title {
    margin: 5% 2%;
    font-size: 3rem;
    font-weight: 900;
    font-family: $font-playFair;
    text-shadow: $shadow2;
  }

  .postingCon {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1% 0;

    .postingBtn {
      @include button-black;
<<<<<<< HEAD
      width: 200px;
      line-height: 3rem;
      margin-right: 3%;
      font-size: 1.1rem;
=======
      width: 80px;
      line-height: 2rem;
      margin-right: 1%;
>>>>>>> 9e35234332a5cb3ba50798aa8e37008fab16b44f
    }
  }

  .line {
    @include line;
  }
}
