@import "../base/variables";

.wrap {
  @include wrap;
  padding: 2% 0;
  height: auto;

  .title {
    @include logo;
    margin: 5% 2%;
    font-size: 3rem;
  }

  .postingCon {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1% 0;

    .postingBtn {
      @include button-black;
      width: 200px;
      line-height: 3rem;
      margin-right: 3%;
      font-size: 1.1rem;
    }
  }

  .line {
    @include line;
  }
}
