@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Playfair+Display:wght@800;900&family=Roboto+Slab:wght@600;700;800;900&family=Roboto:wght@500;700;900&display=swap");
@import "../base/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  box-shadow: $shadow1;
}
