// color
$color--wine: #b92427;
$bgColor-footer-light-gray: #f0f0f0;
$bgColor-light-beige: #f1f1f1;
$bgColor-gra-white: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

// fonts
$font-roboto: "Noto Sans KR", sans-serif; //한글
$font-notoSans: "Noto Sans KR", sans-serif; //영어
$font-playFair: "Playfair Display", serif; // 로고
$font-inter: "Inter", sans-serif;
// 로고

// shadow
$shadow1: 0 10px 20px rgba(0, 0, 0, 0.19);

// mixin 함수
@mixin wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@mixin line {
  width: 100%;
  height: 1px;
  margin: 3% 0;
  background-color: #ccc;
  box-shadow: $shadow1;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-all-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// button
@mixin button-black {
  background-color: $color--wine;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
  }
}

// detailCon
@mixin detailCon {
  width: 100%;
  height: 300px;
}

@mixin detailCon {
  width: 100%;
  height: 300px;
}
