// color
$color--wine: #b92427;
$bgColor-footer-light-gray: #f0f0f0;
$bgColor-light-beige: #eeedeb;

// fonts
$font-roboto: "Noto Sans KR", sans-serif; //한글
$font-notoSans: "Noto Sans KR", sans-serif; //영어
$font-playFair: "Playfair Display", serif; // 로고

// shadow
$shadow1: 0 10px 20px rgba(0, 0, 0, 0.19);

// mixin 함수
@mixin wrap {
  width: 100%;
  max-width: 1200px;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-black {
  background-color: $color--wine;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    background-color: #000;
    color: $color--wine;
  }
}
